.porto {
  display: flex;
  flex-direction: column;
  background-color: #2d336b;
  padding: 16px;

  border-radius: 16px;
  box-shadow: 1px 1px 4px black;
}

.porto img {
  align-self: center;
  width: inherit;
  border-radius: 12px;
}

.porto-image {
  width: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  min-height: 240px;
}

.portoInformation {
  color: #ffffff;

  display: flex;
  flex-direction: column;

  margin-block: 12px;
}

.portoInformation a {
  font-weight: bold;
  color: #2d336b;
  background-color: #ffffff;
  text-decoration: none;

  padding: 8px 12px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
}

p.description {
  font-size: 1rem;
  min-height: 3rem;
}
