#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  padding: 12px 160px;
  min-height: 80vh;

  border-bottom: 2px solid black;

  scroll-margin-top: 50px;
}

#information {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#about-me {
  display: flex;
}

p {
  flex: 1;
}

#expertise {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 16px;
}

#expertise ul {
  display: flex;
  gap: 28px;
}

#expertise ul li {
  list-style-type: none;
}

.skill {
  background-color: #2d336b;
  color: #fff2f2;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 16px;
  font-style: italic;
  transition: 0.5s;
  border: 2px solid transparent;
  cursor: pointer;
}

.skill:hover {
  background-color: #fff2f2;
  color: #2d336b;
  border-color: #2d336b;
}
