header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* background-color: #fddede; */

  padding: 12px 64px;

  border-bottom: 2px solid black;
}

header nav ul {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
}
