*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;

  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1.1rem;
}

.icon:hover,
.icon:hover a {
  background-color: #fff2f2;
  color: #2d336b;
  border-color: #2d336b;
  cursor: pointer;
}
